.outer-box{
    margin: 10px;
    box-shadow: 1px 1px  3px 2px rgba(0, 0, 0 , 0.5);
    font-family: Montserrat;
    padding: 30px;
}
    .heading-top{
        margin: 0;
        padding: 0;
    }
    .subHeading{
        margin: 0;
        padding: 0;
    }
    .categoryName{
        background-color: #ccc;
        padding: 0.5em 0.25em;
    }
    .contestName{
        background-color: #eee;
        padding: 1em 1.25em;
        font-size: 20px;
    }


